<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" src="../../assets/icone-app.svg" style="margin-left: 14px; font-size: xx-large"></ion-icon>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title><b>S.O.S Animal</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- div com classe para centralizar o conteúdo -->
  <div class="ion-justify-content-center" id="container">
 
    <form #form="ngForm" (ngSubmit)="salvarDados()">
      <!-- grade para manter os elementos um embaixo do outro (um botão em cada linha) -->
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div class="app-logo">
              <h4>Alterar Perfil</h4>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="3.5">
              <ion-avatar>
                <ion-img src="{{base64Image}}" class="tamanho-img" (click)="cam()"></ion-img>
              </ion-avatar>
          </ion-col>
        </ion-row>
        <!-- inicio do cadastro -->
        <ion-row class="ion-justify-content-center" style="padding-top: 15%;">
          <ion-col size="12">
            <ion-input class="light" placeholder="Nome" type="text" color="light" name="nome" [(ngModel)]="nome"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="12">
            <ion-input class="light" placeholder="E-mail" type="text" color="light" name="email" [(ngModel)]="email"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <ion-input class="light" placeholder="Telefone" type="number" color="light" name="tel" [(ngModel)]="tel"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-input class="light" placeholder="Celular" type="number" color="light" name="cel" [(ngModel)]="cel"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <ion-input class="light" placeholder="Nova senha" type="password" color="light" name="senha" [(ngModel)]="senha"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-input class="light" placeholder="Confirmar senha" type="password" color="light" name="senha" [(ngModel)]="senha"></ion-input>
          </ion-col>
        </ion-row>
        <!-- fim do cadastro -->

        <!-- botão de salvar -->
        <ion-row style="padding-top: 28px;">
          <ion-col>
            <ion-button type="submit" color="dark" fill="outline"> Salvar </ion-button>
          </ion-col>
        </ion-row>
        <!-- fim do botão de salvar -->
      </ion-grid>
    </form>
  </div>
</ion-content>