.map {
  width: 100%;
  height: 100%;
  -moz-full-screen: {
    height: 100%;
  };
  -webkit-full-screen: {
    height: 100%;
  };
  -ms-fullscreen: {
    height: 100%;
  };
  fullscreen: {
    height: 100%;
  }
}
